# PRATICA INDEPENDENTE - Limpeza de dados


### Utilizando o arquivo "`sales.csv`" responda às seguintes questões:

In [ ]:
import pandas as pd
import numpy as np

#### Exercício 1: Carregá-lo em um dataframe e inspecionar os tipos de dados.

In [ ]:
dados = pd.read_csv('sales.csv')

In [ ]:
dados.head()

   Account                          Name  ...  Price     Status
0   714466               Trantow-Barrows  ...  30000  presented
1   714467               Trantow-Barrows  ...  10000  presented
2   714468               Trantow-Barrows  ...   5000    pending
3   737550  Fritsch, Russel and Anderson  ...  35000   declined
4   146832                   Kiehn-Spika  ...  65000        won

[5 rows x 8 columns]

In [ ]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17 entries, 0 to 16
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Account   17 non-null     int64
 1   Name      17 non-null     object
 2   Rep       17 non-null     object
 3   Manager   17 non-null     object
 4   Product   17 non-null     object
 5   Quantity  17 non-null     int64
 6   Price     17 non-null     int64
 7   Status    17 non-null     object
dtypes: int64(3), object(5)
memory usage: 1.2+ KB

In [ ]:
print(f'Instâncias: {dados.shape[0]}')
print(f'Variáveis: {dados.shape[1]}')

Instâncias: 17
Variáveis: 8

Temos um pequeno conjunto de dados composto por 
`nome dos produtos`, `O que é o produto`, `representante de vendas`, `profissional de manutenção do produto`, `valor` (em qual moeda?), `quantidade do produto` e `status do produto`.

#### Exercício 2: Supondo que descobrimos que todos os valores da coluna 1 estão incorretos e que deveríamos somar 1 unidade a cada um deles. Utilizar `df.apply()` para adicionar essa quantidade aos valores.

In [ ]:
# Utilizando a função apply com lambda para acrescentar um a cada valor na coluna Account
dados['Account'] = dados['Account'].apply(lambda x: x + 1)

In [ ]:
# Conferindo se os valores mudaram
dados.head()

   Account                          Name  ...  Price     Status
0   714467               Trantow-Barrows  ...  30000  presented
1   714468               Trantow-Barrows  ...  10000  presented
2   714469               Trantow-Barrows  ...   5000    pending
3   737551  Fritsch, Russel and Anderson  ...  35000   declined
4   146833                   Kiehn-Spika  ...  65000        won

[5 rows x 8 columns]

#### Exercício 3: Mudar todos os valores da coluna `price` maiores do que `50000` para `NaN`. Realize a contagem dos elementos da coluna `Account`  e depois agrupe o dataframe pelo atributo `Manager`.

Criando um novo objeto x que guarda e modifica a Serie "Price" e atribuindo os novos valores NaN ao dataframe original

In [ ]:
#x = dados['Price']
#x[x > 50000] = np.nan
#dados['Price'] = x

#dados['Price'].head()

Utilizando a função loc para o mesmo procedimento acima

In [ ]:
dados.loc[dados['Price'] > 50000] = np.nan
dados['Price'].head()

0    30000.0
1    10000.0
2     5000.0
3    35000.0
4        NaN
Name: Price, dtype: float64

In [ ]:
# Contando quantos valores foram tranformados em NaN na coluna Price
dados['Price'].isnull().sum()

4

Contando os elementos da coluna Account

In [ ]:
dados['Account'].value_counts()

218896    2
729834    2
239345    2
163417    1
740151    1
307600    1
146833    1
737551    1
412291    1
141963    1
688982    1
714469    1
714468    1
714467    1
Name: Account, dtype: int64

Existem valores repetidos. Vamos ver se há instâncias repetidas (exatamente iguais) em todo o dataframe pra conferir se é por isso que os valores de Account se repetem ou se eles na verdade não dizem respeito a algo como que o Id que identifica cada objeto particular.

In [ ]:
dados.duplicated().sum()

0

Não existem valores duplicados o que nos indica que a variável Account não representa algo como o Id de cada objeto.

####Agrupando o dataframe pelo atributo Manager

In [ ]:
agrupado_por_manager = dados.groupby(by= 'Manager')
agrupado_por_manager.head(17)

    Account                          Name  ...   Price     Status
0    714467               Trantow-Barrows  ...   30000  presented
1    714468               Trantow-Barrows  ...   10000  presented
2    714469               Trantow-Barrows  ...    5000    pending
3    737551  Fritsch, Russel and Anderson  ...   35000   declined
4    146833                   Kiehn-Spika  ...   65000        won
5    218896                     Kulas Inc  ...   40000    pending
6    218896                     Kulas Inc  ...   10000  presented
7    412291                 Jerde-Hilpert  ...    5000    pending
8    740151                    Barton LLC  ...   35000   declined
9    141963                    Herman LLC  ...   65000        won
10   163417                   Purdy-Kubde  ...   30000  presented
11   239345                    Stokes LLC  ...    5000    pending
12   239345                    Stokes LLC  ...   10000  presented
13   307600   Kassulke, Ondricka and Metz  ...    7000        won
14   688982                   Keeling LLC  ...  100000        won
15   729834                     Koepp Ltd  ...   65000   declined
16   729834                     Koepp Ltd  ...    5000  presented

[17 rows x 8 columns]

O dataframe só possui dois gerentes dos produtos.

#### Exercício 4: Na coluna `Status` substitua as expressões `won` por `finalized`.  Depois realize uma contagem, usando o método `.value_counts()`, para cada uma das colunas do dataset.

Utilizando o `.loc()`

In [ ]:
dados.loc[dados['Status'] == 'won'] = str('finalized')
dados['Status'].head()

0    presented
1    presented
2      pending
3     declined
4    finalized
Name: Status, dtype: object

Utilizando o método `.replace()` pro mesmo objetivo acima

In [ ]:
#dados['Status'].replace('won', 'finalized', inplace=True)

Inserindo o nome das colunas em uma lista e utilizando a estrutura de repetição `for` pra imprimir a contagem das variáveis em cada uma delas

In [ ]:
columns = list(dados.columns)

In [ ]:
for column in columns:
  print(f'{column}:')
  print(dados[column].value_counts())
  print('\n')

Account:
218896    2
729834    2
239345    2
163417    1
740151    1
307600    1
146833    1
737551    1
412291    1
141963    1
688982    1
714469    1
714468    1
714467    1
Name: Account, dtype: int64


Name:
Trantow-Barrows                 3
Koepp Ltd                       2
Stokes LLC                      2
Kulas Inc                       2
Kiehn-Spika                     1
Jerde-Hilpert                   1
Fritsch, Russel and Anderson    1
Herman LLC                      1
Barton LLC                      1
Purdy-Kubde                     1
Kassulke, Ondricka and Metz     1
Keeling LLC                     1
Name: Name, dtype: int64


Rep:
Wendy Yule       4
Craig Booker     4
Cedric Moss      4
Daniel Hilton    3
john Smith       2
Name: Rep, dtype: int64


Manager:
Debra Henley     9
Fred Anderson    8
Name: Manager, dtype: int64


Product:
CPU            9
Maintenance    4
Software       3
Monitor        1
Name: Product, dtype: int64


Quantity:
1    8
2    7
5    1
3    1
Name: Quantity, dtype: int64


Price:
5000      4
10000     3
65000     3
35000     2
30000     2
100000    1
7000      1
40000     1
Name: Price, dtype: int64


Status:
presented    6
pending      4
won          4
declined     3
Name: Status, dtype: int64

### Agora utilizando o arquivo "`googleplaystore.csv`" realize os seguintes exercícios:

In [ ]:
fonte = 'https://raw.githubusercontent.com/jasonchang0/kaggle-google-apps/master/google-play-store-apps/googleplaystore.csv'

In [ ]:
dados_google = pd.read_csv(fonte)
dados_google.head()

                                                 App  ...   Android Ver
0     Photo Editor & Candy Camera & Grid & ScrapBook  ...  4.0.3 and up
1                                Coloring book moana  ...  4.0.3 and up
2  U Launcher Lite – FREE Live Cool Themes, Hide ...  ...  4.0.3 and up
3                              Sketch - Draw & Paint  ...    4.2 and up
4              Pixel Draw - Number Art Coloring Book  ...    4.4 and up

[5 rows x 13 columns]

#### Exercício 5: Realize o tratamento dos atributos começando por `price`, utilize a função [`str.replace`](https://docs.python.org/2/library/stdtypes.html?highlight=replace#str.replace) para substituir os valores que não fazem sentido nesse atributo.

In [ ]:
# Conferindo quais valores únicos estão presentes na coluna 'Price'
dados_google['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', 'Everyone', '$1.20', '$1.04'], dtype=object)

In [ ]:
# Contando valores 'Everyone' presentes na coluna 'Price'
dados_google['Price'].loc[dados_google['Price'] == 'Everyone'].value_counts()

Everyone    1
Name: Price, dtype: int64

Temos um valor 'Everyone'. Vamos deixá-lo como 0.

In [ ]:
# Tranformando valor 'Everyone' em '0'
dados_google['Price']= dados_google['Price'].str.replace('Everyone', '0')

#Conferindo se o valor não existe mais na coluna 'Price'
dados_google['Price'].loc[dados_google['Price'] == 'Everyone'].sum()

0

#### Exercício 6: Em seguida cheque os valores para `Reviews`, convertendo-o de `str` para `int`.

In [ ]:
# Antes do tratamento não haviam valores nulos na coluna Reviews
dados_google['Reviews'].isnull().sum()

0

Usando a função `pd.to_numeric()` do pandas que transforma os valores da serie passada como argumento para numéricos. O parâmetro `errors` como 'coerce' é pra caso seja encontrado algum valor não possível de passar para tipo numérico seja colocado como NaN.

In [ ]:
pd.to_numeric(dados_google['Reviews'], errors= 'coerce')

0           159.0
1           967.0
2         87510.0
3        215644.0
4           967.0
           ...
10836        38.0
10837         4.0
10838         3.0
10839       114.0
10840    398307.0
Name: Reviews, Length: 10841, dtype: float64

#### Exercício 7: Agora, complete os valores `na` com a média de cada coluna e agrupe o dataframe resultante por `category`.

In [ ]:
dados_google.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

Preenchendo valores nulos das colunas (com tipos numéricos) do dataframe com suas respectivas medias

In [ ]:
dados_google.fillna(dados_google.mean(), inplace= True)

In [ ]:
# Conferindo quais colunas não possuem mais dados nulos
dados_google.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    1
Genres            0
Last Updated      0
Current Ver       8
Android Ver       3
dtype: int64

Os dados que continuaram com valores nulos são porque apresentam tipos categóricos de dados e não numéricos. Nesse sentido demandariam outro tipo de tratamento.

Imprimindo o dataframe remanescente agrupado pela variável `category`

In [ ]:
agrupado_por_categoria = dados_google.groupby(by= 'Category')

In [ ]:
agrupado_por_categoria.head()

                                                     App  ...         Android Ver
0         Photo Editor & Candy Camera & Grid & ScrapBook  ...        4.0.3 and up
1                                    Coloring book moana  ...        4.0.3 and up
2      U Launcher Lite – FREE Live Cool Themes, Hide ...  ...        4.0.3 and up
3                                  Sketch - Draw & Paint  ...          4.2 and up
4                  Pixel Draw - Number Art Coloring Book  ...          4.4 and up
...                                                  ...  ...                 ...
3821                   T map (te map, T map, navigation)  ...  Varies with device
3822        MapQuest: Directions, Maps, GPS & Navigation  ...  Varies with device
3823   Yahoo! transit guide free timetable, operation...  ...          4.0 and up
3824   乗換NAVITIME　Timetable & Route Search in Japan T...  ...  Varies with device
10472            Life Made WI-Fi Touchscreen Photo Frame  ...                 NaN

[166 rows x 13 columns]